/* Empty. Add your own CSS if you like */

            .my-color{
            background-color:#a7e500 !important;
            font-family:"fantasy"
            }
           
            .tabs .tabbar {
                background-color: #a7e500;
            }

